.chip {
  background-color: #28a745; /* vert clair */
  color: white;
  padding: 6px 12px;
  border-radius: 1px;
  display: inline-block;
  margin: 4px;
  cursor: default;
  transition: background-color 0.3s ease;
}

.chip:hover {
  background-color: #2e7d32; /* vert plus foncé */
}

#right-card{
  background:#fbfdff;
  border-radius:10px;
}


.items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
